@import "vars";

.blogs-page {
  display: flex;
  // margin-left: 300px; /* Adjust according to sidebar width */
  min-height: 100vh; // need to fix later
  background-color: #64646420;
}

.content {
  flex: 1;
  padding: 0px 20px;
  margin: $medium-spacing*3 auto !important;
}

button {
  cursor: pointer;
}

.blogs-sidebar {
  background-color: #64646420;
  // margin-top: 63px;
  width: 300px;
  height: 100vh;
  // height: calc(100vh - 110px);
  position: sticky;
  top: 0;
  left: 0;
  padding: $medium-spacing*3 30px 20px;
  overflow-y: hidden;
  z-index: 2;

  .back a {
    @extend p;
    color: $gray-text;
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: $large-spacing;

    li {
      margin-top: $small-spacing;
      color: $primary-color;
      font-weight: 300;
      display: flex;
      align-items: center;
      gap: $small-spacing;

      a {
        @extend p;
        text-decoration: none;
        color: $primary-color;
        cursor: pointer;
        &.active {
          font-weight: 600;
        }
      }
    }
  }
}

.categories h3,
.tags h3 {
  color: $primary-color;
  margin-bottom: $medium-spacing;
  font-weight: bold;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  margin-bottom: $small-spacing;
  cursor: pointer;
  img {
    width: 22px;
    height: auto;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: $large-spacing;
}

.tag {
  background-color: rgba(16, 24, 40, 0.05);
  color: $light-text;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

/* Content */
.content {
  width: 75%; /* Yan yana dizilimde genişlik belirliyoruz */
  padding-left: 20px;
  box-sizing: border-box; /* Padding'in genişlik hesaplamasına dahil edilmesi */
}

/* BlogSearch */
.blog-search {
  margin-bottom: 20px;
}

.blog-search input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* FeaturedBlog */
.featured-blog {
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;

  .cat-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .blog-category {
      color: $secondary-color;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .blog-date {
      font-weight: 300;
      color: $light-text;
    }
  }
  .blog-content-container {
    display: flex;
    .content {
      width: 50%;
      padding: $large-spacing 0;
      h3 {
        color: $primary-color;
        margin-bottom: $medium-spacing;
      }
      .blog-content {
        margin-bottom: $medium-spacing;
        color: $gray-text;
      }
      .blog-tags {
        display: flex;
        gap: $small-spacing;
        span {
          background-color: rgba(16, 24, 40, 0.05);
          color: $light-text;
          padding: 4px 10px;
          border-radius: 5px;
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;
        }
      }

      .blog-meta {
        .blog-footer {
          display: flex;
          gap: $medium-spacing;
          margin-top: $large-spacing;
          div {
            display: inherit;
            align-items: center;
            gap: $small-spacing;
          }
        }
      }
    }
    .blog-image {
      width: 50%;
      text-align: center;
      img {
        width: inherit;
        height: auto;
      }
    }
  }
}

/* BlogCard */
.blog-card {
  // padding: 20px;
  // background-color: $white;
  // border-radius: $small-spacing;
  // border: 1px solid $light-border;
  // margin-bottom: 20px;
  background-color: $white;
  border-radius: $small-spacing;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-bottom: 20px;
  width: 100%; /* Kartın sütun genişliğine uyum sağlaması için */
  break-inside: avoid; /* Kartların sütunlar arasında bölünmesini engeller */
  padding: $medium-spacing;
  transition: transform 0.3s ease;

  .cat-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .blog-category {
      color: $secondary-color;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .blog-date {
      font-weight: 300;
      color: $light-text;
    }
  }

  .blog-img {
    img {
      width: 100%;
      height: auto;
    }
  }

  h4 {
    color: $primary-color;
  }

  .blog-content {
    margin-top: $medium-spacing;
    color: $gray-text;
  }

  .blog-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $large-spacing;
    color: #adb5bd;
    font-size: 14px;
    .blog-footer {
      display: flex;
      gap: $medium-spacing;
      margin-top: $large-spacing;
      div {
        display: inherit;
        align-items: center;
        gap: $small-spacing;
      }
    }
  }

  .blog-actions span {
    margin-right: 10px;
  }
}
/* AllBlogs */
.all-blogs {
  column-count: 3;
  column-gap: 20px;
  padding: 20px;
}

// Blog Single
.blog-single-main {
  margin-bottom: $large-spacing;
  background: $white;
  padding: $large-spacing;
  border-radius: $small-spacing;
  .blog-single-header {
    display: flex;
    gap: $medium-spacing;
    align-items: center;
    padding: $medium-spacing;

    .blog-cat p {
      color: $secondary-color;
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
    }

    .blog-date {
      color: $light-text;
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
    }
  }
  .blog-title {
    color: $primary-color;
    padding: 0px $medium-spacing;
    font-size: 48px;
    line-height: 52px;
  }
  .blog-tags {
    display: flex;
    gap: $medium-spacing;
    margin: $medium-spacing 0px;
    flex-wrap: wrap;

    span {
      background-color: rgba(16, 24, 40, 0.05);
      color: $light-text;
      padding: 4px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
    }
  }
  .blog-content {
    h2 {
      font-family: Geologica;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      color: $primary-color;
    }
    p {
      margin-bottom: $small-spacing;
    }
    img.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
    ul,
    ol {
      margin: $medium-spacing 0;
      padding-left: $medium-spacing;
      li {
        margin-bottom: $small-spacing;
      }
    }
  }
}
