* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col {
  flex: 1 0 0;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .col {
    flex: none;
    width: 100%;
    margin-bottom: 16px;
  }
}

h1 {
  font-family: Geologica;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}

h2 {
  font-family: Geologica;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
}

h3 {
  font-family: Geologica;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

h4 {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

p, .contact-us .container .form button, .testimonials .subtitle, .main-cards .subtitle {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.main-banner {
  height: 50vh;
}
.main-banner .homepage-text {
  text-align: center;
  margin: 25% auto 0;
}
.main-banner .homepage-text .badge {
  text-align: inherit;
  color: #0a2446;
  margin-bottom: 16px;
}
.main-banner .homepage-text .title {
  color: #0a2446;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: inherit;
}
.main-banner .homepage-text .subtitle {
  margin-top: 24px;
  color: #ef6c67;
  text-align: inherit;
}

.main-cards {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 6em !important;
}
.main-cards h3 {
  text-align: inherit;
  color: #0a2446;
}
.main-cards .subtitle {
  color: #ef6c67;
  text-align: inherit;
  margin-top: 16px;
  margin-bottom: 16px;
}
.main-cards .cards-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-cards .cards-holder .card-single {
  background-color: #fff;
  margin: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}
.main-cards .cards-holder .card-single h4 {
  text-align: center;
  color: #0a2446;
  margin: 16px;
  min-height: 120px;
}
.main-cards .cards-holder .card-single p, .main-cards .cards-holder .card-single .contact-us .container .form button, .contact-us .container .form .main-cards .cards-holder .card-single button, .main-cards .cards-holder .card-single .subtitle {
  color: #0a2446;
  text-align: center;
  margin: 16px;
}

.testimonials {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 6em !important;
}
.testimonials h3 {
  text-align: inherit;
  color: #0a2446;
}
.testimonials .subtitle {
  color: #ef6c67;
  text-align: inherit;
  margin-top: 16px;
  margin-bottom: 16px;
}

.contact-us {
  background-color: #0a2446;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 5%;
}
.contact-us .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-us .container .heading {
  color: #ef6c67;
  margin-bottom: 16px;
}
.contact-us .container .subheading {
  margin-bottom: 16px;
}
.contact-us .container .form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}
.contact-us .container .form .formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.contact-us .container .form .formGroup label {
  margin-bottom: 8px;
}
.contact-us .container .form .formGroup input,
.contact-us .container .form .formGroup textarea {
  color: rgba(245, 245, 245, 0.5019607843);
  border-radius: 8px;
  border: 1px solid #646464;
  padding: 10px 14px 10px 14px;
  margin-right: 5px;
  background-color: #223956;
}
.contact-us .container .form button {
  padding: 8px 16px 8px 16px;
  margin: 16px 0 24px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #ef6c67;
  cursor: pointer;
  background-color: #ef6c67;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  align-self: center;
}/*# sourceMappingURL=HomePage.css.map */