* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col {
  flex: 1 0 0;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .col {
    flex: none;
    width: 100%;
    margin-bottom: 16px;
  }
}

h1 {
  font-family: Geologica;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}

h2 {
  font-family: Geologica;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
}

h3 {
  font-family: Geologica;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

h4 {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

p, .contact-us-temp .container .form button, .contact-us .container .form button, .testimonials .subtitle, .main-cards .subtitle, .homepage-text-welcome .form button {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.main-banner {
  height: 80vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/img/main-banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 65%;
}
@media screen and (max-width: 1300px) {
  .main-banner {
    background-position: center 200%;
  }
}
@media screen and (max-width: 768px) {
  .main-banner {
    height: 75vh;
    background-image: url(../assets/img/mbl-main-banner.svg);
    background-size: 200%;
    background-position: center -30%;
  }
}
.main-banner .homepage-text {
  text-align: center;
  padding-top: 30%;
}
@media screen and (max-width: 768px) {
  .main-banner .homepage-text {
    padding-top: 70%;
  }
}
.main-banner .homepage-text .badge {
  text-align: inherit;
  color: #ef6c67;
  margin-bottom: 16px;
}
.main-banner .homepage-text .title {
  color: #0a2446;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: inherit;
}
.main-banner .homepage-text .subtitle {
  margin: 24px auto 0;
  color: #0a2446;
  text-align: inherit;
  width: 72%;
}

.homepage-text-welcome {
  text-align: center;
  padding-top: 30%;
}
@media screen and (max-width: 768px) {
  .homepage-text-welcome {
    padding-top: 70%;
  }
}
.homepage-text-welcome .badge {
  text-align: inherit;
  color: #ef6c67;
  margin-bottom: 16px;
}
.homepage-text-welcome .title {
  color: #0a2446;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: inherit;
}
.homepage-text-welcome .subtitle {
  margin: 24px auto;
  color: #0a2446;
  text-align: inherit;
  width: 72%;
}
.homepage-text-welcome .form {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 1100px) {
  .homepage-text-welcome .form {
    flex-direction: column;
  }
}
.homepage-text-welcome .form .formGroup {
  width: 100%;
  margin-bottom: 8px;
}
.homepage-text-welcome .form .formGroup input {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.5019607843);
  border-radius: 8px;
  border: 1px solid #646464;
  padding: 10px 14px 10px 14px;
  margin-right: 5px;
  color: #919191;
}
.homepage-text-welcome .form button {
  padding: 8px;
  margin: 16px 0 24px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #ef6c67;
  cursor: pointer;
  background-color: #ef6c67;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  align-self: center;
}

.main-cards {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 5.25em !important;
}
.main-cards h3 {
  text-align: inherit;
  color: #0a2446;
}
.main-cards .subtitle {
  color: #ef6c67;
  text-align: inherit;
  margin-top: 16px;
  margin-bottom: 16px;
}
.main-cards .cards-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-cards .cards-holder .card-single {
  background-color: #fff;
  margin: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}
.main-cards .cards-holder .card-single h4 {
  text-align: center;
  color: #0a2446;
  margin: 16px;
  min-height: 90px;
}
.main-cards .cards-holder .card-single p, .main-cards .cards-holder .card-single .contact-us-temp .container .form button, .contact-us-temp .container .form .main-cards .cards-holder .card-single button, .main-cards .cards-holder .card-single .contact-us .container .form button, .contact-us .container .form .main-cards .cards-holder .card-single button, .main-cards .cards-holder .card-single .homepage-text-welcome .form button, .homepage-text-welcome .form .main-cards .cards-holder .card-single button, .main-cards .cards-holder .card-single .subtitle {
  color: #0a2446;
  text-align: center;
  margin: 16px 16px 24px 16px;
}

.testimonials {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 6em !important;
}
.testimonials h3 {
  text-align: inherit;
  color: #0a2446;
}
.testimonials .subtitle {
  color: #ef6c67;
  text-align: inherit;
  margin-top: 16px;
  margin-bottom: 16px;
}

.latest-reviews {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 5.25em !important;
  padding-bottom: 6em !important;
}
.latest-reviews h3 {
  text-align: inherit;
  color: #0a2446;
  margin-bottom: 24px;
  padding: 0 16px;
}
.latest-reviews .reviews-holder {
  padding-top: 16px;
}
.latest-reviews .reviews-holder .review-single {
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  margin: 0px 16px;
  padding: 24px;
  width: 320px;
}
.latest-reviews .reviews-holder .review-single .review-user {
  display: flex;
  margin-bottom: 24px;
  gap: 8px;
}
.latest-reviews .reviews-holder .review-single .review-user .user-duration {
  color: #646464;
  display: flex;
  align-items: center;
}
.latest-reviews .reviews-holder .review-single .review-title h4 {
  color: #0a2446;
  margin-bottom: 24px;
  height: 80px;
}
.latest-reviews .reviews-holder .review-single .review-stars input[type=radio] {
  display: none;
}
.latest-reviews .reviews-holder .review-single .review-stars label {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.latest-reviews .reviews-holder .review-single .review-stars .stars {
  display: flex;
}
.latest-reviews .reviews-holder .review-single .review-stars .stars .review-count {
  color: #646464;
  margin-left: 16px;
}
.latest-reviews .reviews-holder .review-single .review-stars .stars label {
  background-image: url("../assets/img/star-default.png");
  margin-bottom: 24px;
}
.latest-reviews .reviews-holder .review-single .review-stars .stars input[type=radio]:checked ~ label,
.latest-reviews .reviews-holder .review-single .review-stars .stars input[type=radio]:checked ~ label ~ input[type=radio] + label,
.latest-reviews .reviews-holder .review-single .review-stars .stars input[type=radio]:checked ~ label ~ label {
  background-image: url("../assets/img/star-selected.png");
}
.latest-reviews .reviews-holder .review-single .review-stars .stars .review-date {
  font-size: 14px;
  font-weight: 300;
  color: #646464;
  line-height: 22px;
}
.latest-reviews .reviews-holder .review-single .review-rating {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 16px 24px;
}
.latest-reviews .reviews-holder .review-single .review-rating .rating-title p, .latest-reviews .reviews-holder .review-single .review-rating .rating-title .contact-us-temp .container .form button, .contact-us-temp .container .form .latest-reviews .reviews-holder .review-single .review-rating .rating-title button, .latest-reviews .reviews-holder .review-single .review-rating .rating-title .contact-us .container .form button, .contact-us .container .form .latest-reviews .reviews-holder .review-single .review-rating .rating-title button, .latest-reviews .reviews-holder .review-single .review-rating .rating-title .homepage-text-welcome .form button, .homepage-text-welcome .form .latest-reviews .reviews-holder .review-single .review-rating .rating-title button, .latest-reviews .reviews-holder .review-single .review-rating .rating-title .main-cards .subtitle, .main-cards .latest-reviews .reviews-holder .review-single .review-rating .rating-title .subtitle, .latest-reviews .reviews-holder .review-single .review-rating .rating-title .testimonials .subtitle, .testimonials .latest-reviews .reviews-holder .review-single .review-rating .rating-title .subtitle {
  font-weight: 600;
  color: #ef6c67;
  margin-bottom: 16px;
}
.latest-reviews .reviews-holder .review-single .review-rating .rating-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.latest-reviews .reviews-holder .review-single .review-rating .rating-item:last-child {
  border-bottom: none;
}
.latest-reviews .reviews-holder .review-single .review-rating .rating-item span:last-of-type {
  color: #ef6c67;
}
.latest-reviews .reviews-holder .review-single .review-rating .rating-item .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  /* background: #ccc; */
}
.latest-reviews .reviews-holder .review-single .review-rating .rating-item span {
  color: #646464;
}
.latest-reviews .reviews-holder .review-single .review-rating .rating-item span:nth-child(2) {
  flex-grow: 1;
  text-align: left;
  padding: 0 10px;
}
.latest-reviews .reviews-holder .review-single .review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0px 0px;
}
.latest-reviews .reviews-holder .review-single .review-footer .fav {
  display: flex;
  align-items: center;
  gap: 8px;
}
.latest-reviews .reviews-holder .review-single .review-footer .fav span:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.latest-reviews .reviews-holder .review-single .review-footer .link a {
  text-decoration: underline;
  color: #919191;
  font-size: 14px;
  font-weight: 300;
}
.latest-reviews .reviews-holder .slick-dots {
  padding-top: 24px;
  bottom: -50px !important;
}
.latest-reviews .reviews-holder .slick-dots li {
  margin: 0 !important;
}
.latest-reviews .reviews-holder .slick-dots li.slick-active button:before {
  color: #0a2446 !important;
  font-size: 10px !important;
}
.latest-reviews .reviews-holder .slick-dots li button:before {
  color: #646464 !important;
  font-size: 10px !important;
}

.blog {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 1em !important;
}
.blog h3 {
  text-align: inherit;
  color: #0a2446;
  margin-bottom: 24px;
}
.blog .blog-card {
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  padding: 40px 50px;
}
.blog .blog-card .blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.blog .blog-card .blog-header .category {
  color: #ef6c67;
  font-weight: 600;
}
.blog .blog-card .blog-header .date {
  color: #646464;
  font-weight: 300;
}
.blog .blog-card .blog-content-container {
  display: flex;
}
@media screen and (max-width: 1100px) {
  .blog .blog-card .blog-content-container {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
.blog .blog-card .blog-content-container .blog-title {
  font-size: 28px !important;
  color: #0a2446;
  font-weight: 700;
  margin-bottom: 24px;
}
.blog .blog-card .blog-content-container .blog-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #0a2446;
  margin-bottom: 24px;
}
.blog .blog-card .blog-content-container .tags {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.blog .blog-card .blog-content-container .tags .tag {
  padding: 8px;
  background-color: #FAFAFA;
  color: #919191;
  border-radius: 8px;
}
.blog .blog-card .blog-content-container img {
  width: inherit;
  height: auto;
}
@media screen and (max-width: 768px) {
  .blog .blog-card .blog-content-container img {
    max-width: 100%;
    height: auto;
  }
}
.blog .blog-card .blog-footer {
  display: flex;
  align-items: center;
  color: #646464;
  gap: 16px;
}
.blog .blog-card .blog-footer * {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.blog .more-blogs {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 24px 0px;
  gap: 8px;
}
.blog .more-blogs p, .blog .more-blogs .contact-us-temp .container .form button, .contact-us-temp .container .form .blog .more-blogs button, .blog .more-blogs .contact-us .container .form button, .contact-us .container .form .blog .more-blogs button, .blog .more-blogs .homepage-text-welcome .form button, .homepage-text-welcome .form .blog .more-blogs button, .blog .more-blogs .main-cards .subtitle, .main-cards .blog .more-blogs .subtitle, .blog .more-blogs .testimonials .subtitle, .testimonials .blog .more-blogs .subtitle {
  font-size: 16px;
  text-align: right;
  text-decoration: underline;
  color: #0a2446;
}

.contact-us {
  background-color: #0a2446;
  color: #fff;
  padding-top: 4em;
  padding-bottom: 5%;
  margin-top: 5.25em;
}
.contact-us .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .contact-us .container {
    flex-direction: column;
  }
}
.contact-us .container .heading {
  color: #ef6c67;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
.contact-us .container .subheading {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
}
.contact-us .container .form {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 1100px) {
  .contact-us .container .form {
    flex-direction: column;
  }
}
.contact-us .container .form .formGroup {
  width: 100%;
  margin-bottom: 8px;
}
.contact-us .container .form .formGroup input {
  width: 100%;
  color: rgba(245, 245, 245, 0.5019607843);
  border-radius: 8px;
  border: 1px solid #646464;
  padding: 10px 14px 10px 14px;
  margin-right: 5px;
  background-color: #223956;
}
.contact-us .container .form button {
  padding: 8px;
  margin: 16px 0 24px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #ef6c67;
  cursor: pointer;
  background-color: #ef6c67;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  align-self: center;
}
.contact-us .container .warn {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #646464;
}

.contact-us-temp {
  background-color: #0a2446;
  color: #fff;
  padding: 4em 2em;
  margin-top: 5.25em;
}
.contact-us-temp .container {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .contact-us-temp .container {
    flex-direction: column;
  }
}
.contact-us-temp .container .contact-img {
  text-align: center;
  margin: 16px;
}
.contact-us-temp .container .heading {
  color: #ef6c67;
  text-align: center;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
.contact-us-temp .container .subheading {
  color: #fff;
  text-align: center;
  line-height: 1.5 !important;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.contact-us-temp .container .form {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
@media screen and (max-width: 1100px) {
  .contact-us-temp .container .form {
    flex-direction: column;
  }
}
.contact-us-temp .container .form .formGroup {
  width: 100%;
  margin-bottom: 8px;
}
.contact-us-temp .container .form .formGroup input {
  width: 100%;
  color: rgba(245, 245, 245, 0.5019607843);
  border-radius: 8px;
  border: 1px solid #646464;
  padding: 10px 14px 10px 14px;
  margin-right: 5px;
  background-color: #223956;
}
.contact-us-temp .container .form button {
  padding: 8px;
  margin: 0 0 24px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ef6c67;
  cursor: pointer;
  background-color: #ef6c67;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  align-self: center;
}
.contact-us-temp .container .warn {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: #646464;
}/*# sourceMappingURL=HomePage.css.map */