@import "root";
$color_1: white;
$background-color_1: rgba(200, 200, 200);
$background-color_2: white;
$background-color_3: transparent;


.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: $background-color_1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  width: 45%;
  height: 500px;
  border-radius: 12px;
  background-color: $background-color_2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  .title {
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    color: $primary-color;
    h3 {
      text-align: inherit;
    }
  }
  .form {
    margin-top: 1rem;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    flex-direction: column;
	.search-bar{
		padding: 0px 3rem!important;
	}
    .row {
      width: 100%;
      justify-content: center;
      padding: 0px 2rem;
      margin: 1rem auto;
    }
    label {
      font-family: Geologica;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
    }
    input {
      width: 100%;
      border-radius: 8px ;
      border: 1px solid $light-text;
      opacity: 0px;
      padding: 10px 14px 10px 14px;
    }
	button {
		@extend p;
		padding: 8px 16px 8px 16px;
		gap: 8px;
		border-radius: 8px;
		border: 1px solid $secondary-color;
		cursor: pointer;
		&.write-a-review {
		  background-color: $secondary-color;
		  color: $white;
		  transition: background-color 0.3s ease, color 0.3s ease;
		  &:hover {
			background-color: transparent;
			color: $white;
		  }
		}
	  }
  }
}
