@import "vars";
$color_1: white;
$background-color_1: rgba(200, 200, 200);
$background-color_2: white;
$background-color_3: transparent;

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: $background-color_1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  @media (max-width: 768px) {
    justify-content: center;
    align-items: start;
    padding: $half-spacing;
  }
}
.modalContainer {
  width: 45%;
  // height: 500px;
  border-radius: 12px;
  background-color: $background-color_2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  //padding: 25px;
  @media (max-width: 768px) {
    width: 100%;
    height: unset;
    padding: $small-spacing;

    max-height: 90vh;
  }
  .title {
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    @media (max-width: 768px) {
      margin-top: $small-spacing;
    }
    h3 {
      text-align: inherit;
    }
  }
  .form {
    margin-top: 1rem;
    flex: 50%;
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    flex-direction: column;
    .search-bar {
      position: relative;
      padding: 0px 3rem !important;
      @media (max-width: 768px) {
        padding: 0px 16px !important;
      }
      input[type="checkbox"] {
        width: unset;
        min-width: unset;
        margin-right: $small-spacing;
        accent-color: $primary-color;
      }
      .search-results {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: white;
        padding: $small-spacing;
        border-radius: $medium-spacing;
        list-style: none;
        box-shadow: 0 4px 8px #00000041;
        max-height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 2;
        li {
          margin: $small-spacing 0px;
          cursor: pointer;
          padding: calc($small-spacing / 2);
          border-radius: $small-spacing;
          font-size: 18px;
        }
        li:hover {
          background-color: #00000041;
        }
      }
    }
    .row {
      width: 100%;
      justify-content: center;
      padding: 0px 2rem;
      margin: 1rem auto;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
    label {
      font-family: Geologica;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
    }
    input {
      width: 100%;
      border-radius: 8px;
      border: 1px solid $light-text;
      opacity: 0px;
      padding: 10px 14px 10px 14px;
    }
    button {
      @extend p;
      padding: 8px 16px 8px 16px;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid $secondary-color;
      cursor: pointer;
      width: 100%;
      text-align: center;
      &.write-a-review {
        background-color: $secondary-color;
        color: $white;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
    }
  }

  // Log-in
  // Toggle switch
  &.loginModal {
    width: 25%;
    min-width: 350px;
    // mobile
    @media (max-width: 768px) {
      width: 100%;
      gap: $half-spacing;
      max-height: 80vh;
    }
    .row {
      @media (max-width: 768px) {
        margin: calc($small-spacing / 4) 0px !important;
        width: 100%;
      }
    }
  }
  .login-buttons {
    width: 100%;
    justify-content: center;
    padding: 0px 2rem;
    margin: 1rem auto;
    @media (max-width: 768px) {
      padding: 0;
    }

    .google-login {
      background: none;
      border: 1px solid $primary-color;
      border-radius: $small-spacing;
      display: inline-flex;
      justify-content: center;
      width: 100%;
      padding: $small-spacing;
      align-items: center;
      gap: calc($small-spacing / 2);
      color: $primary-color;
    }
  }
  .or {
    width: 90%;
    justify-content: center;
    padding: 0px 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    @media (max-width: 768px) {
      padding: 0;
    }
    hr {
      width: 100%;
      color: #d9d9d9;
    }
  }
  .register-agree {
    font-family: Geologica;
    font-size: 14px;
    font-weight: 300;
    line-height: 17.5px;
    text-align: left;
    color: #919191;
  }
  .pw-info {
    font-family: Geologica;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: $primary-color;
  }
  .m-0 {
    margin: 0 !important;
  }
  .toggle-group {
    color: $gray-text;
    display: flex;
    gap: $medium-spacing;
    margin-top: $medium-spacing;
    margin-bottom: $large-spacing;
  }
  .toggle-group {
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 36px;
      height: 20px;
      background: $light-text;
      display: block;
      border-radius: 100px;
      position: relative;
    }
    label:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      background: #fff;
      border-radius: 9px;
      transition: 0.3s;
    }
    input:checked + label {
      background: $primary-color;
    }
    input:checked + label:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
    }
    label:active:after {
      width: 36px;
    }
  }
  // Toggle switch ----

  // Register
  &.registerModal {
    width: 25%;
    min-width: 350px;
    overflow-y: auto;
    max-height: 90vh;
    padding: 0px;
    // mobile
    @media (max-width: 768px) {
      width: 100%;
      gap: $half-spacing;
      max-height: 80vh;
    }
    .row {
      @media (max-width: 768px) {
        margin: calc($small-spacing / 4) 0px !important;
        width: 100%;
      }
    }
  }
}
