* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col {
  flex: 1 0 0;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .col {
    flex: none;
    width: 100%;
    margin-bottom: 16px;
  }
}

h1 {
  font-family: Geologica;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}

h2 {
  font-family: Geologica;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
}

h3 {
  font-family: Geologica;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

h4 {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

p, .modalContainer .form button {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 768px) {
  .modalBackground {
    justify-content: center;
    align-items: start;
    padding: 48px;
  }
}

.modalContainer {
  width: 45%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
@media (max-width: 768px) {
  .modalContainer {
    width: 100%;
    height: unset;
    padding: 8px;
  }
}
.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #0a2446;
}
@media (max-width: 768px) {
  .modalContainer .title {
    margin-top: 8px;
  }
}
.modalContainer .title h3 {
  text-align: inherit;
}
.modalContainer .form {
  margin-top: 1rem;
  flex: 50%;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  flex-direction: column;
}
.modalContainer .form .search-bar {
  position: relative;
  padding: 0px 3rem !important;
}
@media (max-width: 768px) {
  .modalContainer .form .search-bar {
    padding: 0px 16px !important;
  }
}
.modalContainer .form .search-bar input[type=checkbox] {
  width: unset;
  min-width: unset;
  margin-right: 8px;
  accent-color: #0a2446;
}
.modalContainer .form .search-bar .search-results {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: white;
  padding: 8px;
  border-radius: 16px;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2549019608);
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
}
.modalContainer .form .search-bar .search-results li {
  margin: 8px 0px;
  cursor: pointer;
  padding: 4px;
  border-radius: 8px;
  font-size: 18px;
}
.modalContainer .form .search-bar .search-results li:hover {
  background-color: rgba(0, 0, 0, 0.2549019608);
}
.modalContainer .form .row {
  width: 100%;
  justify-content: center;
  padding: 0px 2rem;
  margin: 1rem auto;
}
@media (max-width: 768px) {
  .modalContainer .form .row {
    padding: 0;
  }
}
.modalContainer .form label {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.modalContainer .form input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #919191;
  opacity: 0px;
  padding: 10px 14px 10px 14px;
}
.modalContainer .form button {
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #ef6c67;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.modalContainer .form button.write-a-review {
  background-color: #ef6c67;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.modalContainer.loginModal {
  width: 25%;
  min-width: 350px;
}
.modalContainer .login-buttons {
  width: 100%;
  justify-content: center;
  padding: 0px 2rem;
  margin: 1rem auto;
}
@media (max-width: 768px) {
  .modalContainer .login-buttons {
    padding: 0;
  }
}
.modalContainer .login-buttons .google-login {
  background: none;
  border: 1px solid #0a2446;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  align-items: center;
  gap: 4px;
  color: #0a2446;
}
.modalContainer .or {
  width: 90%;
  justify-content: center;
  padding: 0px 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .modalContainer .or {
    padding: 0;
  }
}
.modalContainer .or hr {
  width: 100%;
  color: #d9d9d9;
}
.modalContainer .register-agree {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.5px;
  text-align: left;
  color: #919191;
}
.modalContainer .pw-info {
  font-family: Geologica;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #0a2446;
}
.modalContainer .m-0 {
  margin: 0 !important;
}
.modalContainer .toggle-group {
  color: #646464;
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.modalContainer .toggle-group input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.modalContainer .toggle-group label {
  cursor: pointer;
  text-indent: -9999px;
  width: 36px;
  height: 20px;
  background: #919191;
  display: block;
  border-radius: 100px;
  position: relative;
}
.modalContainer .toggle-group label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 9px;
  transition: 0.3s;
}
.modalContainer .toggle-group input:checked + label {
  background: #0a2446;
}
.modalContainer .toggle-group input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.modalContainer .toggle-group label:active:after {
  width: 36px;
}
.modalContainer.registerModal {
  width: 25%;
  min-width: 350px;
  overflow: auto;
}/*# sourceMappingURL=Modal.css.map */