@import "vars";

.main {
  display: flex;
  margin-left: 200px; /* Adjust according to sidebar width */
  min-height: 100vh; // need to fix later
  padding-top: 50px;
}

.content {
  flex: 1;
  padding: 0px 20px;
  margin-right: 8%;
}

button {
  cursor: pointer;
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 120px 30px 20px;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: -9;

  .back a {
    @extend p;
    color: $gray-text;
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-top: $large-spacing;

      a {
        @extend p;
        text-decoration: none;
        color: $primary-color;
        &.active {
          font-weight: 600;
        }
      }
    }
  }
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .update-date {
    @extend p;
    color: $gray-text;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    gap: $small-spacing;
  }

  .actions {
    display: flex;
    align-items: center;

    .save-to-favorites {
      @extend p;
      color: $gray-text;
      border: none;
      display: inline-flex;
      align-content: center;
      flex-wrap: wrap;
      gap: $small-spacing;
      cursor: pointer;
      margin-right: 10px;
      background-color: $white;
    }

    .more-actions {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      padding: 4px 10px 16px;
      // @extend p;
      color: $gray-text;
      border: none;
      display: inline-flex;
      align-content: center;
      flex-wrap: wrap;
    }
  }
}
.property-details {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
  border-radius: $small-spacing;

  .property-info {
    display: flex;
    justify-content: space-between;

    .details {
      max-width: 70%;

      h2 {
        // @extend h2;
        margin-bottom: $large-spacing;
        color: $primary-color;
      }

      input[type="radio"] {
        display: none;
      }
      label {
        display: inline-block;
        width: 25px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: $small-spacing;
      }

      .stars {
        display: flex;
        .review-count {
          // @extend p;
          color: $gray-text;
          margin-left: $medium-spacing;
        }
        label {
          background-image: url("../assets/img/star-default.png");
          margin-bottom: $large-spacing;
        }
        input[type="radio"]:checked ~ label,
        input[type="radio"]:checked ~ label ~ input[type="radio"] + label,
        input[type="radio"]:checked ~ label ~ label {
          background-image: url("../assets/img/star-selected.png");
        }
      }
      p {
        // @extend p;
        color: $gray-text;
        margin-bottom: $large-spacing;
      }
    }

    .stats {
      max-width: 30%;
      display: flex;
      flex-direction: column;
      background-color: #f5f5f5;
      padding: $large-spacing;
      border-radius: 10px;
      border: 1px solid $light-border;
      color: $primary-color;

      .stat-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .class-icon {
          width: 60px;
          height: 60px;
          font-size: 24px;
          margin-right: 10px;
          background-color: $white;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }

        .stat-text {
          display: flex;
          flex-direction: column;

          .stat-label {
            @extend p;
          }

          .stat-value,
          & p {
            @extend h3;

            .info {
              // @extend p;
              display: inline-block;
              position: absolute;
              margin-left: 4px;
              cursor: pointer;
            }
            .info.red {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }

  .write-review {
    background-color: $secondary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e04a4e;
    }
  }
}

.review-score {
  margin-bottom: $large-spacing;
  border-radius: $small-spacing;

  h4 {
    // @extend h4;
    color: $primary-color;
    margin-bottom: $small-spacing;
  }
  .based-on {
    // @extend p;
    color: $gray-text;
  }

  .review-summary {
    display: flex;
    justify-content: space-between;
    gap: $large-spacing;
    padding-top: $large-spacing;

    .overall-rating,
    .review-details,
    .neighborhood-details {
      flex: 1;
      padding: $large-spacing;
      background: #fff;
      border: 1px solid $light-border;
      border-radius: $small-spacing;
      height: 225px;
    }

    .overall-rating {
      display: flex;

      .overall-title {
        @extend p;
        color: $secondary-color;
        max-width: 90px;
        font-weight: bold;
      }

      .rating-value {
        @extend h1;
        color: $primary-color;
        line-height: 3rem;
      }

      .overall-values {
        flex: 1;
      }

      .rating-details {
        .details-title {
          @extend p;
          color: $gray-text;
          margin-top: $small-spacing;
        }
        .distribution {
          progress {
            width: 90%;
            height: 10px; /* Kalınlık */
            border-radius: $small-spacing;
            margin-right: $medium-spacing;
          }

          /* progress elementinin içindeki dolu kısmın stili */
          progress::-webkit-progress-value {
            background-color: $primary-color; /* Dolu kısmın rengi */
            border-radius: $small-spacing;
          }

          /* progress elementinin içindeki boş kısmın stili */
          progress::-webkit-progress-bar {
            background-color: $light-border; /* Boş kısmın rengi */
            border-radius: $small-spacing;
          }

          /* Firefox için stil */
          progress::-moz-progress-bar {
            background-color: $primary-color; /* Dolu kısmın rengi */
            border-radius: $small-spacing;
          }
        }
      }
    }

    .review-details,
    .neighborhood-details {
      p {
        color: $secondary-color;
        font-weight: bold;
        margin-bottom: $medium-spacing;
      }
      .detail-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $medium-spacing;

        span {
          line-height: 20px;
          display: inline-flex;

          svg {
            margin-right: $small-spacing;
          }
        }

        span.value {
          color: $secondary-color;
        }
      }
    }
  }
}

.location {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
  border-radius: $small-spacing;

  h3 {
    margin-bottom: $small-spacing;
    color: $primary-color;
  }

  .map {
    width: 100%;
    height: 450px;
    background-color: #e0e0e0;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.location-details {
  display: flex;
  gap: $large-spacing;
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
  border-radius: $small-spacing;

  .icon {
    height: 24px;
    width: 24px;
    text-align: center;
  }

  .how-to-get-there,
  .closest-shops,
  .attractions {
    flex: 1;
    padding: $large-spacing;
    border: 1px solid $light-border;
    border-radius: 5px;

    h4 {
      margin-bottom: 20px;
      color: $primary-color;
    }

    .current-location {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: $secondary-color;

      .icon {
        margin: 0px $small-spacing;
        &.arrow-icon {
          width: 20px;
          height: 20px;
        }
      }
    }

    .location-input-container {
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      input {
        width: 100%;
        padding: 10px;
        padding-right: 40px; // Add padding to make space for the icon
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .transport-options {
      .option {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px; // Increased margin for better spacing

        .icon {
          font-size: 24px;
          margin: 0px $small-spacing;
          &.walking-icon {
            width: 24px;
            height: 24px;
          }
          &.bus-icon {
            width: 24px;
            height: 24px;
          }
          &.car-icon {
            width: 24px;
            height: 24px;
          }
        }

        .details {
          .title {
            color: $primary-color;
            font-weight: bold;
            margin-bottom: 5px;
            strong {
              color: $secondary-color;
            }
          }
          span {
            color: $light-text;
            font-weight: 300;
            display: block; // Ensure sub-detail is below the title
          }
        }
      }
    }

    .shop-option,
    .attraction-option {
      display: flex;
      align-items: center;
      padding: $medium-spacing 0;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }

      .icon {
        margin-right: $small-spacing;
        &.shop-icon {
          // background: url('/path/to/shop-icon.svg') no-repeat center center;
          width: 24px;
          height: 24px;
        }
        &.park-icon {
          // background: url('/path/to/park-icon.svg') no-repeat center center;
          width: 24px;
          height: 24px;
        }
        &.fitness-icon {
          // background: url('/path/to/fitness-icon.svg') no-repeat center center;
          width: 24px;
          height: 24px;
        }
        &.restaurant-icon {
          // background: url('/path/to/restaurant-icon.svg') no-repeat center center;
          width: 24px;
          height: 24px;
        }
        &.coffee-icon {
          // background: url('/path/to/coffee-icon.svg') no-repeat center center;
          width: 24px;
          height: 24px;
        }
      }

      .details {
        span {
          display: flex;
          &:first-child {
            font-weight: bold;
            color: $primary-color;
          }
          &:last-child {
            color: $light-text;
          }
        }
      }
    }
  }
}

.reviews-container {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
  border-radius: $small-spacing;
  h3 {
    color: #00263e;
    margin-bottom: $medium-spacing;
  }

  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .sort-by {
      display: flex;
      align-items: center;

      label {
        font-size: 16px;
        color: #00263e;
        margin-right: 10px;
      }

      select {
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $light-border;
      }
    }
  }
}

.review-single {
  border-bottom: 1px solid $light-border;
  margin: 0px 0px $large-spacing;
  padding-bottom: $medium-spacing;

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: $large-spacing;

    .avatar-placeholder {
      width: 40px;
      height: 40px;
      background-color: #ccc;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user-name {
      font-weight: bold;
      color: #333;
    }

    .user-duration {
      color: #646464;
    }

    .save-favorites {
      display: flex;
      gap: $small-spacing;
      margin-left: auto;
      background-color: transparent;
      border: none;
      color: $light-text;
      cursor: pointer;
      font-size: 14px;
    }
  }

  .review-content {
    display: flex;
    justify-content: space-between;

    .review-details {
      width: 60%;

      .review-title {
        font-size: 24px;
        line-height: 30px;
        color: $primary-color;
        margin-bottom: 10px;
      }

      .review-rating {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        input[type="radio"] {
          display: none;
        }
        label {
          display: inline-block;
          width: 25px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: $small-spacing;
        }
        .stars {
          display: flex;
          .review-count {
            // @extend p;
            color: $gray-text;
            margin-left: $medium-spacing;
          }
          label {
            background-image: url("../assets/img/star-default.png");
            margin-bottom: $medium-spacing;
          }
          input[type="radio"]:checked ~ label,
          input[type="radio"]:checked ~ label ~ input[type="radio"] + label,
          input[type="radio"]:checked ~ label ~ label {
            background-image: url("../assets/img/star-selected.png");
          }
        }

        .review-date {
          color: $light-text;
          margin-left: 10px;
        }
      }

      .pros,
      .cons {
        margin-bottom: $large-spacing;
        strong {
          display: block;
          margin-bottom: $small-spacing;
          color: $gray-text;
        }
        p {
          color: $gray-text;
        }
      }

      .review-footer {
        display: flex;
        gap: $large-spacing;
        align-items: center;
        margin-bottom: 10px;

        .likes {
          display: flex;
          align-items: center;
          .like-icon {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          span {
            color: $gray-text;
          }
        }

        .full-review-link {
          color: $light-text;
          text-decoration: underline;
        }
      }
    }

    .rating-review {
      width: 35%;
      border: 1px solid $light-border;
      border-radius: 10px;
      padding: $medium-spacing;

      h4 {
        font-size: 16px;
        color: $secondary-color;
        margin-bottom: 10px;
      }

      .rating-details {
        .rating-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: $small-spacing 0;
          &:last-child {
            border-bottom: none;
            
          }
          span:last-of-type{
            color: $secondary-color;
          }
          .icon {
            width: 16px;
            height: 16px;
            margin-right: 5px;
            /* background: #ccc; */
          }

          span {
            color: $gray-text;
            &:nth-child(2) {
              flex-grow: 1;
              text-align: left;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
