@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col {
  flex: 1 0 0;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .col {
    flex: none;
    width: 100%;
    margin-bottom: 16px;
  }
}

h1, .review-score .review-summary .overall-rating .rating-value {
  font-family: Geologica;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}

h2 {
  font-family: Geologica;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
}

h3, .property-details .property-info .stats .stat-item .stat-text .stat-value, .property-details .property-info .stats .stat-item .stat-text p, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .rating-details .details-title, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .stat-item .stat-text .details-title, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .overall-title, .review-score .review-summary .overall-rating .property-details .property-info .stats .stat-item .stat-text .overall-title, .property-details .property-info .stats .stat-item .stat-text .sidebar .back a, .sidebar .back .property-details .property-info .stats .stat-item .stat-text a, .property-details .property-info .stats .stat-item .stat-text .sidebar ul li a, .sidebar ul li .property-details .property-info .stats .stat-item .stat-text a, .property-details .property-info .stats .stat-item .stat-text .content-header .update-date, .content-header .property-details .property-info .stats .stat-item .stat-text .update-date, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .save-to-favorites, .content-header .actions .property-details .property-info .stats .stat-item .stat-text .save-to-favorites, .property-details .property-info .stats .stat-item .stat-text .stat-label {
  font-family: Geologica;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

h4 {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

p, .review-score .review-summary .overall-rating .rating-details .details-title, .review-score .review-summary .overall-rating .overall-title, .property-details .property-info .stats .stat-item .stat-text .stat-label, .content-header .actions .save-to-favorites, .content-header .update-date, .sidebar ul li a, .sidebar .back a {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.property-profile-header {
  position: fixed;
  width: 100vw;
}

.main {
  display: flex;
  margin-left: 200px; /* Adjust according to sidebar width */
  min-height: 100vh;
  padding-top: 50px;
}

.content {
  flex: 1;
  padding: 0px 20px;
  margin-right: 8%;
}

button {
  cursor: pointer;
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 120px 30px 20px;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: -9;
}
.sidebar .back a {
  color: #646464;
  text-decoration: none;
  cursor: pointer;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin-top: 24px;
}
.sidebar ul li a {
  text-decoration: none;
  color: #0a2446;
  cursor: pointer;
}
.sidebar ul li a.active {
  font-weight: 600;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-header .update-date {
  color: #646464;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.content-header .actions {
  display: flex;
  align-items: center;
}
.content-header .actions .save-to-favorites {
  color: #646464;
  border: none;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 8px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #fff;
}
.content-header .actions .more-actions {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 4px 10px 16px;
  color: #646464;
  border: none;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
}
.content-header .actions .more-actions-menu {
  position: absolute;
  top: 160px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #fff;
}
.content-header .actions .more-actions-menu p, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .rating-details .details-title, .review-score .review-summary .overall-rating .rating-details .content-header .actions .more-actions-menu .details-title, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .overall-title, .review-score .review-summary .overall-rating .content-header .actions .more-actions-menu .overall-title, .content-header .actions .more-actions-menu .property-details .property-info .stats .stat-item .stat-text .stat-label, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .more-actions-menu .stat-label, .content-header .actions .more-actions-menu .sidebar .back a, .sidebar .back .content-header .actions .more-actions-menu a, .content-header .actions .more-actions-menu .sidebar ul li a, .sidebar ul li .content-header .actions .more-actions-menu a, .content-header .actions .more-actions-menu .update-date, .content-header .actions .more-actions-menu .save-to-favorites {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #646464;
}
.content-header .actions .more-actions-menu p svg, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .rating-details .details-title svg, .review-score .review-summary .overall-rating .rating-details .content-header .actions .more-actions-menu .details-title svg, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .overall-title svg, .review-score .review-summary .overall-rating .content-header .actions .more-actions-menu .overall-title svg, .content-header .actions .more-actions-menu .property-details .property-info .stats .stat-item .stat-text .stat-label svg, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .more-actions-menu .stat-label svg, .content-header .actions .more-actions-menu .sidebar .back a svg, .sidebar .back .content-header .actions .more-actions-menu a svg, .content-header .actions .more-actions-menu .sidebar ul li a svg, .sidebar ul li .content-header .actions .more-actions-menu a svg, .content-header .actions .more-actions-menu .update-date svg, .content-header .actions .more-actions-menu .save-to-favorites svg {
  margin-right: 5px;
}
.content-header .actions .more-actions-menu p:first-of-type, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .rating-details .details-title:first-of-type, .review-score .review-summary .overall-rating .rating-details .content-header .actions .more-actions-menu .details-title:first-of-type, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .overall-title:first-of-type, .review-score .review-summary .overall-rating .content-header .actions .more-actions-menu .overall-title:first-of-type, .content-header .actions .more-actions-menu .property-details .property-info .stats .stat-item .stat-text .stat-label:first-of-type, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .more-actions-menu .stat-label:first-of-type, .content-header .actions .more-actions-menu .sidebar .back a:first-of-type, .sidebar .back .content-header .actions .more-actions-menu a:first-of-type, .content-header .actions .more-actions-menu .sidebar ul li a:first-of-type, .sidebar ul li .content-header .actions .more-actions-menu a:first-of-type, .content-header .actions .more-actions-menu .update-date:first-of-type, .content-header .actions .more-actions-menu .save-to-favorites:first-of-type {
  margin-bottom: 8px;
}
.content-header .actions .more-actions-menu p:hover, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .rating-details .details-title:hover, .review-score .review-summary .overall-rating .rating-details .content-header .actions .more-actions-menu .details-title:hover, .content-header .actions .more-actions-menu .review-score .review-summary .overall-rating .overall-title:hover, .review-score .review-summary .overall-rating .content-header .actions .more-actions-menu .overall-title:hover, .content-header .actions .more-actions-menu .property-details .property-info .stats .stat-item .stat-text .stat-label:hover, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .more-actions-menu .stat-label:hover, .content-header .actions .more-actions-menu .sidebar .back a:hover, .sidebar .back .content-header .actions .more-actions-menu a:hover, .content-header .actions .more-actions-menu .sidebar ul li a:hover, .sidebar ul li .content-header .actions .more-actions-menu a:hover, .content-header .actions .more-actions-menu .update-date:hover, .content-header .actions .more-actions-menu .save-to-favorites:hover {
  text-decoration: underline;
}

.property-details {
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
}
.property-details .property-info {
  display: flex;
  justify-content: space-between;
}
.property-details .property-info .details {
  max-width: 70%;
}
.property-details .property-info .details h2 {
  margin-bottom: 24px;
  color: #0a2446;
}
.property-details .property-info .details input[type=radio] {
  display: none;
}
.property-details .property-info .details label {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.property-details .property-info .details .stars {
  display: flex;
}
.property-details .property-info .details .stars .review-count {
  color: #646464;
  margin-left: 16px;
}
.property-details .property-info .details .stars label {
  background-image: url("../assets/img/star-default.svg");
  margin-bottom: 24px;
}
.property-details .property-info .details .stars input[type=radio]:checked ~ label,
.property-details .property-info .details .stars input[type=radio]:checked ~ label ~ input[type=radio] + label,
.property-details .property-info .details .stars input[type=radio]:checked ~ label ~ label {
  background-image: url("../assets/img/star-selected.svg");
}
.property-details .property-info .details p, .property-details .property-info .details .review-score .review-summary .overall-rating .rating-details .details-title, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .details .details-title, .property-details .property-info .details .review-score .review-summary .overall-rating .overall-title, .review-score .review-summary .overall-rating .property-details .property-info .details .overall-title, .property-details .property-info .details .stats .stat-item .stat-text .stat-label, .property-details .property-info .stats .stat-item .stat-text .details .stat-label, .property-details .property-info .details .sidebar .back a, .sidebar .back .property-details .property-info .details a, .property-details .property-info .details .sidebar ul li a, .sidebar ul li .property-details .property-info .details a, .property-details .property-info .details .content-header .update-date, .content-header .property-details .property-info .details .update-date, .property-details .property-info .details .content-header .actions .save-to-favorites, .content-header .actions .property-details .property-info .details .save-to-favorites {
  color: #646464;
  margin-bottom: 24px;
}
.property-details .property-info .stats {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  color: #0a2446;
}
.property-details .property-info .stats .stat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.property-details .property-info .stats .stat-item .class-icon {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.property-details .property-info .stats .stat-item .stat-text {
  display: flex;
  flex-direction: column;
}
.property-details .property-info .stats .stat-item .stat-text .stat-value .info, .property-details .property-info .stats .stat-item .stat-text p .info, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .rating-details .details-title .info, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .stat-item .stat-text .details-title .info, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .overall-title .info, .review-score .review-summary .overall-rating .property-details .property-info .stats .stat-item .stat-text .overall-title .info, .property-details .property-info .stats .stat-item .stat-text .sidebar .back a .info, .sidebar .back .property-details .property-info .stats .stat-item .stat-text a .info, .property-details .property-info .stats .stat-item .stat-text .sidebar ul li a .info, .sidebar ul li .property-details .property-info .stats .stat-item .stat-text a .info, .property-details .property-info .stats .stat-item .stat-text .content-header .update-date .info, .content-header .property-details .property-info .stats .stat-item .stat-text .update-date .info, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .save-to-favorites .info, .content-header .actions .property-details .property-info .stats .stat-item .stat-text .save-to-favorites .info, .property-details .property-info .stats .stat-item .stat-text .stat-label .info {
  display: inline-block;
  position: absolute;
  margin-left: 4px;
  cursor: pointer;
}
.property-details .property-info .stats .stat-item .stat-text .stat-value .info.red, .property-details .property-info .stats .stat-item .stat-text p .info.red, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .rating-details .details-title .info.red, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .stat-item .stat-text .details-title .info.red, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .overall-title .info.red, .review-score .review-summary .overall-rating .property-details .property-info .stats .stat-item .stat-text .overall-title .info.red, .property-details .property-info .stats .stat-item .stat-text .sidebar .back a .info.red, .sidebar .back .property-details .property-info .stats .stat-item .stat-text a .info.red, .property-details .property-info .stats .stat-item .stat-text .sidebar ul li a .info.red, .sidebar ul li .property-details .property-info .stats .stat-item .stat-text a .info.red, .property-details .property-info .stats .stat-item .stat-text .content-header .update-date .info.red, .content-header .property-details .property-info .stats .stat-item .stat-text .update-date .info.red, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .save-to-favorites .info.red, .content-header .actions .property-details .property-info .stats .stat-item .stat-text .save-to-favorites .info.red, .property-details .property-info .stats .stat-item .stat-text .stat-label .info.red {
  color: #ef6c67;
}
.property-details .property-info .stats .bills-breakdown {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 16px;
  border: 0;
  border-radius: 8px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.property-details .property-info .stats .bills-breakdown.show {
  margin: 16px auto;
  padding: 16px;
  border: 1px solid #d9d9d9;
  max-height: 250px;
  transition: all 0.3s ease-in;
}
.property-details .property-info .stats .bills-breakdown .breakdown-title {
  color: #ef6c67;
  font-weight: 600;
  margin-bottom: 16px;
}
.property-details .property-info .stats .bills-breakdown .breakdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.property-details .property-info .stats .bills-breakdown .breakdown-item p, .property-details .property-info .stats .bills-breakdown .breakdown-item .review-score .review-summary .overall-rating .rating-details .details-title, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .bills-breakdown .breakdown-item .details-title, .property-details .property-info .stats .bills-breakdown .breakdown-item .review-score .review-summary .overall-rating .overall-title, .review-score .review-summary .overall-rating .property-details .property-info .stats .bills-breakdown .breakdown-item .overall-title, .property-details .property-info .stats .bills-breakdown .breakdown-item .sidebar .back a, .sidebar .back .property-details .property-info .stats .bills-breakdown .breakdown-item a, .property-details .property-info .stats .bills-breakdown .breakdown-item .sidebar ul li a, .sidebar ul li .property-details .property-info .stats .bills-breakdown .breakdown-item a, .property-details .property-info .stats .bills-breakdown .breakdown-item .content-header .update-date, .content-header .property-details .property-info .stats .bills-breakdown .breakdown-item .update-date, .property-details .property-info .stats .bills-breakdown .breakdown-item .content-header .actions .save-to-favorites, .content-header .actions .property-details .property-info .stats .bills-breakdown .breakdown-item .save-to-favorites, .property-details .property-info .stats .bills-breakdown .breakdown-item .stat-item .stat-text .stat-label, .property-details .property-info .stats .stat-item .stat-text .bills-breakdown .breakdown-item .stat-label {
  display: inherit;
  align-items: inherit;
}
.property-details .property-info .stats .bills-breakdown .breakdown-item p svg, .property-details .property-info .stats .bills-breakdown .breakdown-item .review-score .review-summary .overall-rating .rating-details .details-title svg, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .bills-breakdown .breakdown-item .details-title svg, .property-details .property-info .stats .bills-breakdown .breakdown-item .review-score .review-summary .overall-rating .overall-title svg, .review-score .review-summary .overall-rating .property-details .property-info .stats .bills-breakdown .breakdown-item .overall-title svg, .property-details .property-info .stats .bills-breakdown .breakdown-item .sidebar .back a svg, .sidebar .back .property-details .property-info .stats .bills-breakdown .breakdown-item a svg, .property-details .property-info .stats .bills-breakdown .breakdown-item .sidebar ul li a svg, .sidebar ul li .property-details .property-info .stats .bills-breakdown .breakdown-item a svg, .property-details .property-info .stats .bills-breakdown .breakdown-item .content-header .update-date svg, .content-header .property-details .property-info .stats .bills-breakdown .breakdown-item .update-date svg, .property-details .property-info .stats .bills-breakdown .breakdown-item .content-header .actions .save-to-favorites svg, .content-header .actions .property-details .property-info .stats .bills-breakdown .breakdown-item .save-to-favorites svg, .property-details .property-info .stats .bills-breakdown .breakdown-item .stat-item .stat-text .stat-label svg, .property-details .property-info .stats .stat-item .stat-text .bills-breakdown .breakdown-item .stat-label svg {
  margin-right: 5px;
}
.property-details .property-info .stats .bills-breakdown .breakdown-text {
  margin-top: 16px;
  font-weight: 300;
  color: #646464;
}
.property-details .property-info .stats .epc-summary {
  flex-basis: 70%;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 16px;
  border: 0;
  border-radius: 8px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.property-details .property-info .stats .epc-summary.show {
  flex-basis: 70%;
  margin: 16px auto;
  padding: 8px 16px;
  border: 1px solid #d9d9d9;
  max-height: 250px;
  transition: all 0.3s ease-in;
}
.property-details .property-info .stats .epc-summary .summary-text {
  font-weight: 600;
  text-align: center;
}
.property-details .write-review {
  background-color: #ef6c67;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.property-details .write-review:hover {
  background-color: #e04a4e;
}

.review-score {
  margin-bottom: 24px;
  border-radius: 8px;
}
.review-score h4 {
  color: #0a2446;
  margin-bottom: 8px;
}
.review-score .based-on {
  color: #646464;
}
.review-score .review-summary {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-top: 24px;
}
.review-score .review-summary .overall-rating,
.review-score .review-summary .review-details,
.review-score .review-summary .neighborhood-details {
  flex: 1;
  padding: 24px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  height: 225px;
}
.review-score .review-summary .overall-rating {
  display: flex;
}
.review-score .review-summary .overall-rating .overall-title {
  color: #ef6c67;
  max-width: 90px;
  font-weight: bold;
}
.review-score .review-summary .overall-rating .rating-value {
  color: #0a2446;
  line-height: 3rem;
}
.review-score .review-summary .overall-rating .overall-values {
  flex: 1;
}
.review-score .review-summary .overall-rating .rating-details .details-title {
  color: #646464;
  margin-top: 8px;
}
.review-score .review-summary .overall-rating .rating-details .distribution {
  /* progress elementinin içindeki dolu kısmın stili */
  /* progress elementinin içindeki boş kısmın stili */
  /* Firefox için stil */
}
.review-score .review-summary .overall-rating .rating-details .distribution progress {
  width: 90%;
  height: 10px; /* Kalınlık */
  border-radius: 8px;
  margin-right: 16px;
}
@media screen and (max-width: 1740px) {
  .review-score .review-summary .overall-rating .rating-details .distribution progress {
    width: 80%;
  }
}
.review-score .review-summary .overall-rating .rating-details .distribution progress::-webkit-progress-value {
  background-color: #0a2446; /* Dolu kısmın rengi */
  border-radius: 8px;
}
.review-score .review-summary .overall-rating .rating-details .distribution progress::-webkit-progress-bar {
  background-color: #d9d9d9; /* Boş kısmın rengi */
  border-radius: 8px;
}
.review-score .review-summary .overall-rating .rating-details .distribution progress::-moz-progress-bar {
  background-color: #0a2446; /* Dolu kısmın rengi */
  border-radius: 8px;
}
.review-score .review-summary .review-details p, .review-score .review-summary .review-details .sidebar .back a, .sidebar .back .review-score .review-summary .review-details a, .review-score .review-summary .review-details .sidebar ul li a, .sidebar ul li .review-score .review-summary .review-details a, .review-score .review-summary .review-details .content-header .update-date, .content-header .review-score .review-summary .review-details .update-date, .review-score .review-summary .review-details .content-header .actions .save-to-favorites, .content-header .actions .review-score .review-summary .review-details .save-to-favorites, .review-score .review-summary .review-details .property-details .property-info .stats .stat-item .stat-text .stat-label, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .review-details .stat-label, .review-score .review-summary .review-details .overall-rating .overall-title, .review-score .review-summary .overall-rating .review-details .overall-title, .review-score .review-summary .review-details .overall-rating .rating-details .details-title, .review-score .review-summary .overall-rating .rating-details .review-details .details-title,
.review-score .review-summary .neighborhood-details p,
.review-score .review-summary .neighborhood-details .sidebar .back a,
.sidebar .back .review-score .review-summary .neighborhood-details a,
.review-score .review-summary .neighborhood-details .sidebar ul li a,
.sidebar ul li .review-score .review-summary .neighborhood-details a,
.review-score .review-summary .neighborhood-details .content-header .update-date,
.content-header .review-score .review-summary .neighborhood-details .update-date,
.review-score .review-summary .neighborhood-details .content-header .actions .save-to-favorites,
.content-header .actions .review-score .review-summary .neighborhood-details .save-to-favorites,
.review-score .review-summary .neighborhood-details .property-details .property-info .stats .stat-item .stat-text .stat-label,
.property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .neighborhood-details .stat-label,
.review-score .review-summary .neighborhood-details .overall-rating .overall-title,
.review-score .review-summary .overall-rating .neighborhood-details .overall-title,
.review-score .review-summary .neighborhood-details .overall-rating .rating-details .details-title,
.review-score .review-summary .overall-rating .rating-details .neighborhood-details .details-title {
  color: #ef6c67;
  font-weight: bold;
  margin-bottom: 16px;
}
.review-score .review-summary .review-details .detail-item,
.review-score .review-summary .neighborhood-details .detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.review-score .review-summary .review-details .detail-item span,
.review-score .review-summary .neighborhood-details .detail-item span {
  line-height: 20px;
  display: inline-flex;
}
.review-score .review-summary .review-details .detail-item span svg,
.review-score .review-summary .neighborhood-details .detail-item span svg {
  margin-right: 8px;
}
.review-score .review-summary .review-details .detail-item span.value,
.review-score .review-summary .neighborhood-details .detail-item span.value {
  color: #ef6c67;
}

.location {
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
}
.location h3, .location .property-details .property-info .stats .stat-item .stat-text .stat-value, .property-details .property-info .stats .stat-item .stat-text .location .stat-value, .location .property-details .property-info .stats .stat-item .stat-text p, .property-details .property-info .stats .stat-item .stat-text .location p, .location .property-details .property-info .stats .stat-item .stat-text .sidebar .back a, .property-details .property-info .stats .stat-item .stat-text .sidebar .back .location a, .location .sidebar .back .property-details .property-info .stats .stat-item .stat-text a, .sidebar .back .property-details .property-info .stats .stat-item .stat-text .location a, .location .property-details .property-info .stats .stat-item .stat-text .sidebar ul li a, .property-details .property-info .stats .stat-item .stat-text .sidebar ul li .location a, .location .sidebar ul li .property-details .property-info .stats .stat-item .stat-text a, .sidebar ul li .property-details .property-info .stats .stat-item .stat-text .location a, .location .property-details .property-info .stats .stat-item .stat-text .content-header .update-date, .property-details .property-info .stats .stat-item .stat-text .content-header .location .update-date, .location .content-header .property-details .property-info .stats .stat-item .stat-text .update-date, .content-header .property-details .property-info .stats .stat-item .stat-text .location .update-date, .location .property-details .property-info .stats .stat-item .stat-text .content-header .actions .save-to-favorites, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .location .save-to-favorites, .location .content-header .actions .property-details .property-info .stats .stat-item .stat-text .save-to-favorites, .content-header .actions .property-details .property-info .stats .stat-item .stat-text .location .save-to-favorites, .location .property-details .property-info .stats .stat-item .stat-text .stat-label, .property-details .property-info .stats .stat-item .stat-text .location .stat-label, .location .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .overall-title, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .location .overall-title, .location .review-score .review-summary .overall-rating .property-details .property-info .stats .stat-item .stat-text .overall-title, .review-score .review-summary .overall-rating .property-details .property-info .stats .stat-item .stat-text .location .overall-title, .location .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .rating-details .details-title, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .rating-details .location .details-title, .location .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .stat-item .stat-text .details-title, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .stat-item .stat-text .location .details-title {
  margin-bottom: 8px;
  color: #0a2446;
}
.location .map {
  width: 100%;
  height: 450px;
  background-color: #e0e0e0;
}
.location .map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.location-details {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
}
.location-details .icon {
  height: 24px;
  width: 24px;
  text-align: center;
}
.location-details .how-to-get-there,
.location-details .closest-shops,
.location-details .attractions {
  flex: 1;
  padding: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.location-details .how-to-get-there h4,
.location-details .closest-shops h4,
.location-details .attractions h4 {
  margin-bottom: 20px;
  color: #0a2446;
}
.location-details .how-to-get-there .current-location,
.location-details .closest-shops .current-location,
.location-details .attractions .current-location {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #ef6c67;
}
.location-details .how-to-get-there .current-location .icon,
.location-details .closest-shops .current-location .icon,
.location-details .attractions .current-location .icon {
  margin: 0px 8px;
}
.location-details .how-to-get-there .current-location .icon.arrow-icon,
.location-details .closest-shops .current-location .icon.arrow-icon,
.location-details .attractions .current-location .icon.arrow-icon {
  width: 20px;
  height: 20px;
}
.location-details .how-to-get-there .location-input-container,
.location-details .closest-shops .location-input-container,
.location-details .attractions .location-input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.location-details .how-to-get-there .location-input-container input,
.location-details .closest-shops .location-input-container input,
.location-details .attractions .location-input-container input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.location-details .how-to-get-there .location-input-container .search-icon,
.location-details .closest-shops .location-input-container .search-icon,
.location-details .attractions .location-input-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.location-details .how-to-get-there .transport-options .option,
.location-details .closest-shops .transport-options .option,
.location-details .attractions .transport-options .option {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.location-details .how-to-get-there .transport-options .option .icon,
.location-details .closest-shops .transport-options .option .icon,
.location-details .attractions .transport-options .option .icon {
  font-size: 24px;
  margin: 0px 8px;
}
.location-details .how-to-get-there .transport-options .option .icon.walking-icon,
.location-details .closest-shops .transport-options .option .icon.walking-icon,
.location-details .attractions .transport-options .option .icon.walking-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .transport-options .option .icon.bus-icon,
.location-details .closest-shops .transport-options .option .icon.bus-icon,
.location-details .attractions .transport-options .option .icon.bus-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .transport-options .option .icon.car-icon,
.location-details .closest-shops .transport-options .option .icon.car-icon,
.location-details .attractions .transport-options .option .icon.car-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .transport-options .option .details .title,
.location-details .closest-shops .transport-options .option .details .title,
.location-details .attractions .transport-options .option .details .title {
  color: #0a2446;
  font-weight: bold;
  margin-bottom: 5px;
}
.location-details .how-to-get-there .transport-options .option .details .title strong,
.location-details .closest-shops .transport-options .option .details .title strong,
.location-details .attractions .transport-options .option .details .title strong {
  color: #ef6c67;
}
.location-details .how-to-get-there .transport-options .option .details span,
.location-details .closest-shops .transport-options .option .details span,
.location-details .attractions .transport-options .option .details span {
  color: #919191;
  font-weight: 300;
  display: block;
}
.location-details .how-to-get-there .shop-option,
.location-details .how-to-get-there .attraction-option,
.location-details .closest-shops .shop-option,
.location-details .closest-shops .attraction-option,
.location-details .attractions .shop-option,
.location-details .attractions .attraction-option {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
}
.location-details .how-to-get-there .shop-option:last-child,
.location-details .how-to-get-there .attraction-option:last-child,
.location-details .closest-shops .shop-option:last-child,
.location-details .closest-shops .attraction-option:last-child,
.location-details .attractions .shop-option:last-child,
.location-details .attractions .attraction-option:last-child {
  border-bottom: none;
}
.location-details .how-to-get-there .shop-option .icon,
.location-details .how-to-get-there .attraction-option .icon,
.location-details .closest-shops .shop-option .icon,
.location-details .closest-shops .attraction-option .icon,
.location-details .attractions .shop-option .icon,
.location-details .attractions .attraction-option .icon {
  margin-right: 8px;
}
.location-details .how-to-get-there .shop-option .icon.shop-icon,
.location-details .how-to-get-there .attraction-option .icon.shop-icon,
.location-details .closest-shops .shop-option .icon.shop-icon,
.location-details .closest-shops .attraction-option .icon.shop-icon,
.location-details .attractions .shop-option .icon.shop-icon,
.location-details .attractions .attraction-option .icon.shop-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .shop-option .icon.park-icon,
.location-details .how-to-get-there .attraction-option .icon.park-icon,
.location-details .closest-shops .shop-option .icon.park-icon,
.location-details .closest-shops .attraction-option .icon.park-icon,
.location-details .attractions .shop-option .icon.park-icon,
.location-details .attractions .attraction-option .icon.park-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .shop-option .icon.fitness-icon,
.location-details .how-to-get-there .attraction-option .icon.fitness-icon,
.location-details .closest-shops .shop-option .icon.fitness-icon,
.location-details .closest-shops .attraction-option .icon.fitness-icon,
.location-details .attractions .shop-option .icon.fitness-icon,
.location-details .attractions .attraction-option .icon.fitness-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .shop-option .icon.restaurant-icon,
.location-details .how-to-get-there .attraction-option .icon.restaurant-icon,
.location-details .closest-shops .shop-option .icon.restaurant-icon,
.location-details .closest-shops .attraction-option .icon.restaurant-icon,
.location-details .attractions .shop-option .icon.restaurant-icon,
.location-details .attractions .attraction-option .icon.restaurant-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .shop-option .icon.coffee-icon,
.location-details .how-to-get-there .attraction-option .icon.coffee-icon,
.location-details .closest-shops .shop-option .icon.coffee-icon,
.location-details .closest-shops .attraction-option .icon.coffee-icon,
.location-details .attractions .shop-option .icon.coffee-icon,
.location-details .attractions .attraction-option .icon.coffee-icon {
  width: 24px;
  height: 24px;
}
.location-details .how-to-get-there .shop-option .details span,
.location-details .how-to-get-there .attraction-option .details span,
.location-details .closest-shops .shop-option .details span,
.location-details .closest-shops .attraction-option .details span,
.location-details .attractions .shop-option .details span,
.location-details .attractions .attraction-option .details span {
  display: flex;
}
.location-details .how-to-get-there .shop-option .details span:first-child,
.location-details .how-to-get-there .attraction-option .details span:first-child,
.location-details .closest-shops .shop-option .details span:first-child,
.location-details .closest-shops .attraction-option .details span:first-child,
.location-details .attractions .shop-option .details span:first-child,
.location-details .attractions .attraction-option .details span:first-child {
  font-weight: bold;
  color: #0a2446;
}
.location-details .how-to-get-there .shop-option .details span:last-child,
.location-details .how-to-get-there .attraction-option .details span:last-child,
.location-details .closest-shops .shop-option .details span:last-child,
.location-details .closest-shops .attraction-option .details span:last-child,
.location-details .attractions .shop-option .details span:last-child,
.location-details .attractions .attraction-option .details span:last-child {
  color: #919191;
}

.reviews-container {
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
}
.reviews-container h3, .reviews-container .property-details .property-info .stats .stat-item .stat-text .stat-value, .property-details .property-info .stats .stat-item .stat-text .reviews-container .stat-value, .reviews-container .property-details .property-info .stats .stat-item .stat-text p, .property-details .property-info .stats .stat-item .stat-text .reviews-container p, .reviews-container .property-details .property-info .stats .stat-item .stat-text .sidebar .back a, .property-details .property-info .stats .stat-item .stat-text .sidebar .back .reviews-container a, .reviews-container .sidebar .back .property-details .property-info .stats .stat-item .stat-text a, .sidebar .back .property-details .property-info .stats .stat-item .stat-text .reviews-container a, .reviews-container .property-details .property-info .stats .stat-item .stat-text .sidebar ul li a, .property-details .property-info .stats .stat-item .stat-text .sidebar ul li .reviews-container a, .reviews-container .sidebar ul li .property-details .property-info .stats .stat-item .stat-text a, .sidebar ul li .property-details .property-info .stats .stat-item .stat-text .reviews-container a, .reviews-container .property-details .property-info .stats .stat-item .stat-text .content-header .update-date, .property-details .property-info .stats .stat-item .stat-text .content-header .reviews-container .update-date, .reviews-container .content-header .property-details .property-info .stats .stat-item .stat-text .update-date, .content-header .property-details .property-info .stats .stat-item .stat-text .reviews-container .update-date, .reviews-container .property-details .property-info .stats .stat-item .stat-text .content-header .actions .save-to-favorites, .property-details .property-info .stats .stat-item .stat-text .content-header .actions .reviews-container .save-to-favorites, .reviews-container .content-header .actions .property-details .property-info .stats .stat-item .stat-text .save-to-favorites, .content-header .actions .property-details .property-info .stats .stat-item .stat-text .reviews-container .save-to-favorites, .reviews-container .property-details .property-info .stats .stat-item .stat-text .stat-label, .property-details .property-info .stats .stat-item .stat-text .reviews-container .stat-label, .reviews-container .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .overall-title, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .reviews-container .overall-title, .reviews-container .review-score .review-summary .overall-rating .property-details .property-info .stats .stat-item .stat-text .overall-title, .review-score .review-summary .overall-rating .property-details .property-info .stats .stat-item .stat-text .reviews-container .overall-title, .reviews-container .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .rating-details .details-title, .property-details .property-info .stats .stat-item .stat-text .review-score .review-summary .overall-rating .rating-details .reviews-container .details-title, .reviews-container .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .stat-item .stat-text .details-title, .review-score .review-summary .overall-rating .rating-details .property-details .property-info .stats .stat-item .stat-text .reviews-container .details-title {
  color: #00263e;
  margin-bottom: 16px;
}
.reviews-container .write-a-review-btn {
  background-color: #ef6c67;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.reviews-container .write-a-review-btn:hover {
  background-color: #e04a4e;
}
.reviews-container .reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.reviews-container .reviews-header .sort-by {
  display: flex;
  align-items: center;
}
.reviews-container .reviews-header .sort-by label {
  font-size: 16px;
  color: #00263e;
  margin-right: 10px;
}
.reviews-container .reviews-header .sort-by select {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.review-single {
  border-bottom: 1px solid #d9d9d9;
  margin: 0px 0px 24px;
  padding-bottom: 16px;
}
.review-single .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.review-single .user-info .avatar-placeholder {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}
.review-single .user-info .user-name {
  font-weight: bold;
  color: #333;
}
.review-single .user-info .user-duration {
  color: #646464;
}
.review-single .user-info .save-favorites {
  display: flex;
  gap: 8px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: #919191;
  cursor: pointer;
  font-size: 14px;
}
.review-single .review-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .review-single .review-content {
    flex-direction: column;
  }
}
.review-single .review-content .review-details {
  width: 60%;
}
@media (max-width: 768px) {
  .review-single .review-content .review-details {
    width: unset;
  }
}
.review-single .review-content .review-details .review-title {
  font-size: 24px;
  line-height: 30px;
  color: #0a2446;
  margin-bottom: 10px;
}
.review-single .review-content .review-details .review-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.review-single .review-content .review-details .review-rating input[type=radio] {
  display: none;
}
.review-single .review-content .review-details .review-rating label {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.review-single .review-content .review-details .review-rating .stars {
  display: flex;
}
.review-single .review-content .review-details .review-rating .stars .review-count {
  color: #646464;
  margin-left: 16px;
}
.review-single .review-content .review-details .review-rating .stars label {
  background-image: url("../assets/img/star-default.svg");
  margin-bottom: 16px;
}
.review-single .review-content .review-details .review-rating .stars input[type=radio]:checked ~ label,
.review-single .review-content .review-details .review-rating .stars input[type=radio]:checked ~ label ~ input[type=radio] + label,
.review-single .review-content .review-details .review-rating .stars input[type=radio]:checked ~ label ~ label {
  background-image: url("../assets/img/star-selected.svg");
}
.review-single .review-content .review-details .review-rating .review-date {
  color: #919191;
  margin-left: 10px;
}
.review-single .review-content .review-details .pros,
.review-single .review-content .review-details .cons {
  margin-bottom: 24px;
}
.review-single .review-content .review-details .pros strong,
.review-single .review-content .review-details .cons strong {
  display: block;
  margin-bottom: 8px;
  color: #646464;
}
.review-single .review-content .review-details .pros p, .review-single .review-content .review-details .pros .sidebar .back a, .sidebar .back .review-single .review-content .review-details .pros a, .review-single .review-content .review-details .pros .sidebar ul li a, .sidebar ul li .review-single .review-content .review-details .pros a, .review-single .review-content .review-details .pros .content-header .update-date, .content-header .review-single .review-content .review-details .pros .update-date, .review-single .review-content .review-details .pros .content-header .actions .save-to-favorites, .content-header .actions .review-single .review-content .review-details .pros .save-to-favorites, .review-single .review-content .review-details .pros .property-details .property-info .stats .stat-item .stat-text .stat-label, .property-details .property-info .stats .stat-item .stat-text .review-single .review-content .review-details .pros .stat-label, .review-single .review-content .review-details .pros .review-score .review-summary .overall-rating .overall-title, .review-score .review-summary .overall-rating .review-single .review-content .review-details .pros .overall-title, .review-single .review-content .review-details .pros .review-score .review-summary .overall-rating .rating-details .details-title, .review-score .review-summary .overall-rating .rating-details .review-single .review-content .review-details .pros .details-title,
.review-single .review-content .review-details .cons p,
.review-single .review-content .review-details .cons .sidebar .back a,
.sidebar .back .review-single .review-content .review-details .cons a,
.review-single .review-content .review-details .cons .sidebar ul li a,
.sidebar ul li .review-single .review-content .review-details .cons a,
.review-single .review-content .review-details .cons .content-header .update-date,
.content-header .review-single .review-content .review-details .cons .update-date,
.review-single .review-content .review-details .cons .content-header .actions .save-to-favorites,
.content-header .actions .review-single .review-content .review-details .cons .save-to-favorites,
.review-single .review-content .review-details .cons .property-details .property-info .stats .stat-item .stat-text .stat-label,
.property-details .property-info .stats .stat-item .stat-text .review-single .review-content .review-details .cons .stat-label,
.review-single .review-content .review-details .cons .review-score .review-summary .overall-rating .overall-title,
.review-score .review-summary .overall-rating .review-single .review-content .review-details .cons .overall-title,
.review-single .review-content .review-details .cons .review-score .review-summary .overall-rating .rating-details .details-title,
.review-score .review-summary .overall-rating .rating-details .review-single .review-content .review-details .cons .details-title {
  color: #646464;
}
.review-single .review-content .review-details .review-footer {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 10px;
}
.review-single .review-content .review-details .review-footer .likes {
  display: flex;
  align-items: center;
}
.review-single .review-content .review-details .review-footer .likes .like-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.review-single .review-content .review-details .review-footer .likes span {
  color: #646464;
}
.review-single .review-content .review-details .review-footer .full-review-link {
  color: #919191;
  text-decoration: underline;
}
.review-single .review-content .rating-review {
  width: 35%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 16px;
}
@media (max-width: 768px) {
  .review-single .review-content .rating-review {
    width: unset;
  }
}
.review-single .review-content .rating-review h4 {
  font-size: 16px;
  color: #ef6c67;
  margin-bottom: 10px;
}
.review-single .review-content .rating-review .rating-details .rating-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.review-single .review-content .rating-review .rating-details .rating-item:last-child {
  border-bottom: none;
}
.review-single .review-content .rating-review .rating-details .rating-item span:last-of-type {
  color: #ef6c67;
}
.review-single .review-content .rating-review .rating-details .rating-item .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  /* background: #ccc; */
}
.review-single .review-content .rating-review .rating-details .rating-item span {
  color: #646464;
}
.review-single .review-content .rating-review .rating-details .rating-item span:nth-child(2) {
  flex-grow: 1;
  text-align: left;
  padding: 0 10px;
}/*# sourceMappingURL=PropertyProfile.css.map */