@import "vars";

.review-page {
  display: flex;
  flex-direction: column;

  .main-content {
    display: flex;
    flex-direction: row;
    margin: $large-spacing auto;
    width: 90%;

    // @media (max-width: 768px) {
    //   flex-direction: column;
    // }
  }
}

.header-section {
  padding: $medium-spacing $large-spacing;

  .back-link {
    margin-bottom: $large-spacing;

    a {
      text-decoration: none;
      color: $gray-text;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $small-spacing 0;
    width: 90%;
    margin: auto;

    .left-section {
      display: flex;
      align-items: center;

      .user-icon {
        font-size: 24px;
        margin-right: 10px;
      }

      .user-details {
        display: flex;
        flex-direction: column;

        .username {
          color: $gray-text;
          font-weight: bold;
          font-size: 14px;
        }

        .stay-duration {
          font-size: 12px;
          color: $gray-text;
        }
      }
    }

    .right-section {
      display: flex;
      align-items: center;
      gap: 15px;

      span {
        font-size: 12px;
        color: $light-text;

        svg {
          margin-right: 5px;
        }
      }

      .last-updated {
        display: flex;
        align-items: center;
      }

      .likes {
        display: flex;
        align-items: center;
      }

      .favorites {
        display: flex;
        align-items: center;
      }

      .more-options {
        display: inline-flex;
      }
    }
  }
}

.property-info {
  flex: 2;
  padding: 0px $medium-spacing;

  h3 {
    color: $primary-color;
    margin-bottom: $medium-spacing;
  }
  .address {
    color: $gray-text;
    margin-bottom: $small-spacing;
    display: inline-flex;
    margin-bottom: $medium-spacing;

    svg {
      margin-right: 5px;
    }

    .show-map {
      display: inline-flex;
      color: $secondary-color;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    width: 25px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: $small-spacing;
  }
  .stars {
    display: flex;
    .review-count {
      // @extend p;
      color: $gray-text;
      margin-left: $medium-spacing;
    }
    label {
      background-image: url("../assets/img/star-default.png");
      margin-bottom: $large-spacing;
    }
    input[type="radio"]:checked ~ label,
    input[type="radio"]:checked ~ label ~ input[type="radio"] + label,
    input[type="radio"]:checked ~ label ~ label {
      background-image: url("../assets/img/star-selected.png");
    }
  }

  .pros-cons {
    margin-bottom: 20px;

    .pros,
    .cons {
      margin-bottom: 20px;

      h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        line-height: 14px;
        margin-bottom: 10px;
        width: 100%;

        .icon {
          margin-right: 10px;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.6;
      }
    }
  }

  .fixes,
  .safety,
  .health {
    margin-bottom: 20px;

    h4 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      line-height: 14px;
      margin-bottom: 10px;
      width: 100%;

      .icon {
        margin-right: 10px;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  .helpful {
    margin: $large-spacing 0px;
    display: flex;
    justify-content: end;

    button {
      background-color: transparent;
      color: $light-text;
      border: 1px solid $light-text;
      border-radius: $large-spacing;
      padding: 10px 20px;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }
    }
  }

  .comment-section {
    margin-bottom: 20px;

    .comment-title {
      color: $primary-color;
      margin-bottom: $small-spacing;
      font-weight: bold;
    }

    textarea {
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid $light-border;
      color: $light-text;
      border-radius: $small-spacing;
    }

    .button-holder {
      display: flex;
      justify-content: end;
      button {
        background-color: $secondary-color;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: $small-spacing;
        cursor: pointer;
      }
    }
  }

  .comments {
    .comment {
      padding-top: $small-spacing;
      margin-top: $small-spacing;
      &:not(.reply) {
        border-bottom: 1px solid $light-border;
      }

      .date {
        color: $light-text;
        font-size: 14px;
        margin-left: auto;
      }

      p {
        margin: $small-spacing 0;
        display: flex;
        align-items: center;
        color: $gray-text;

        strong {
          color: $primary-color;
        }

        svg {
          margin-right: 5px;
        }

        &:nth-of-type(2) {
          margin: $medium-spacing 0px;
        }
      }

      strong {
        display: inline-block;
        margin-right: 10px;
      }

      .likes {
        display: flex;
        align-items: center;
        color: $light-text;

        .like-icon {
          margin-right: 5px;
        }

        .reply-link {
          margin-left: auto;
          color: $light-text;
          cursor: pointer;
        }
      }
    }

    .reply {
      padding-left: 20px;
      margin-top: $medium-spacing;
      border-left: 1px solid $light-border;
    }
  }
}

.review-sidebar {
  flex: 1;
  padding-left: $large-spacing;

  .cost,
  .rating {
    margin-bottom: $large-spacing;
    border: 1px solid $light-border;
    padding: $large-spacing;
    border-radius: $small-spacing;

    &:not(.rating) {
      background-color: #f5f5f5;
    }

    h4 {
      color: $primary-color;
      margin-bottom: $large-spacing;
    }

    .items-title {
      padding: 0px 0px $medium-spacing;
      border-bottom: 1px solid $light-border;
      margin-bottom: $medium-spacing;

      &:not(:first-of-type) {
        margin-top: $large-spacing;
      }

      .title {
        color: $secondary-color;
        font-weight: 600;
      }
    }

    .cost-item,
    .rating-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: $medium-spacing;

      &.rent,
      &.bills-title {
        flex-direction: column;
        margin-bottom: $medium-spacing;
        span.label {
          color: $secondary-color;
          font-weight: 600;
          margin-bottom: $small-spacing;
        }
        span:nth-of-type(2) {
          color: $gray-text;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: $small-spacing;
        }
        span.value {
          @extend h3;
          color: $primary-color;
          margin-bottom: $small-spacing;
        }
      }

      .label {
        font-weight: bold;
        display: flex;
        align-items: center;
        color: $primary-color;

        svg {
          margin-right: $small-spacing;
        }
      }

      .value,
      .stars {
        color: $gray-text;
        font-size: 14px;
      }
    }

    .rating-item {
      .label {
        color: $gray-text !important;
      }

      &.pet-friendly {
        margin-top: $large-spacing;

        .value{
          color: $secondary-color;
          font-weight: 600;
        }
      }
    }

    .stars {
      color: gold;
    }

    .value {
      font-size: 14px;
    }
  }
}
