@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.col {
  flex: 1 0 0;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .col {
    flex: none;
    width: 100%;
    margin-bottom: 16px;
  }
}

h1 {
  font-family: Geologica;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}

h2 {
  font-family: Geologica;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
}

h3 {
  font-family: Geologica;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

h4 {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

p, .footer ul.footer-socials a, .footer ul.footer-links a, .footer .copyright {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.small-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.header {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  background-color: #0a2446;
  color: #fff;
  z-index: 1000;
}
@media (max-width: 768px) {
  .header {
    padding: 30px 20px 12px;
  }
}
.header .logged-in:hover {
  cursor: pointer;
}
.header .logo {
  flex: 1;
}
.header .logo img {
  max-width: 150px;
  height: auto;
}
.header .logo :hover {
  cursor: pointer;
}
.header .menu {
  flex: 2;
  /* Mobil menü */
}
.header .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.header .menu ul li {
  align-content: center;
}
.header .menu ul li a {
  color: inherit;
  text-decoration: none;
}
.header .menu ul li a:hover {
  text-decoration: underline;
}
.header .menu ul li a.log-in {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .menu ul li button {
  padding: 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #ef6c67;
  cursor: pointer;
}
.header .menu ul li button.sign-up {
  background-color: transparent;
  color: #ef6c67;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header .menu ul li button.sign-up:hover {
  background-color: #ef6c67;
  color: #fff;
}
.header .menu ul li button.write-a-review {
  background-color: #ef6c67;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header .menu ul li button.write-a-review:hover {
  background-color: transparent;
  color: #fff;
}
.header .menu ul li button.logout {
  background-color: #0a2446;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header .menu ul li button.logout:hover {
  background-color: #ef6c67;
  color: #fff;
}
.header .menu .close-menu {
  display: none;
}
@media (max-width: 768px) {
  .header .menu {
    position: fixed;
    top: 0;
    right: -100%; /* Menü gizli durumda */
    height: 100vh;
    width: 250px;
    background-color: #0a2446;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 99;
    /* Kapatma butonu */
  }
  .header .menu.open {
    right: 0; /* Menü açılır */
  }
  .header .menu .close-menu {
    display: block;
    font-size: 36px;
    color: #fff;
    background: none;
    border: none;
    margin-left: auto;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .header .menu ul {
    flex-direction: column;
    gap: 20px;
  }
  .header .menu ul li {
    width: 100%;
  }
  .header .menu ul li a,
  .header .menu ul li button {
    width: 100%;
    text-align: left;
  }
}
.header .online-login {
  display: none;
}
@media (max-width: 768px) {
  .header .online-login {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
  }
}
.header .hamburger-menu {
  display: none;
}
@media (max-width: 768px) {
  .header .hamburger-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
  }
  .header .hamburger-menu .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}

.footer {
  background-color: #0a2446;
  display: flex;
  align-items: center;
  padding: 12px 40px;
  z-index: 1000;
}
.footer .row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 40px 0 30px;
}
.footer .row .col {
  padding: 0;
}
.footer .row .col:last-of-type {
  display: flex;
  justify-content: end;
}
.footer .copyright {
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .footer .copyright {
    margin: auto;
  }
}
.footer ul.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}
.footer ul.footer-links a {
  color: #fff;
}
.footer ul.footer-links a:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer ul.footer-links {
    justify-content: center;
  }
}
.footer ul.footer-socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer ul.footer-socials li {
  margin: 0 4px;
}
.footer ul.footer-socials a {
  color: #fff;
}
.footer ul.footer-socials a:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer ul.footer-socials {
    justify-content: center;
  }
}

.hover-cursor:hover {
  cursor: pointer;
}/*# sourceMappingURL=root.css.map */