@import "vars";
.home-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  // gap: $medium-spacing;
  .search-line{
    display: inline-flex;
    align-items: center;
    margin: calc($small-spacing / 2 ) 0px $medium-spacing 0px;
  }
  .search-icon svg {
    position: relative;
    left: 28px;
  }
  input {
    width: 40%;
    min-width: 300px;
    border-radius: 8px;
    border: 1px solid $light-text;
    padding: 12px 16px 12px 32px;
  }
  input[type=checkbox] {
    width: unset;
    min-width: unset;
    margin-right: $small-spacing;
    accent-color: $primary-color;

  }
  button {
    @extend p;
    background-color: $primary-color;
    color: $white;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid $primary-color;
    cursor: pointer;
    &.write-a-review {
      background-color: $primary-color;
      color: $white;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 12px;
    gap: $small-spacing;
    .search-icon {
      display: none; // Sonra düzenlenecek
    }
    input {
      width: 100%;
      padding: 12px 16px 12px 16px;
    }
    button {
      padding: 12px 16px 12px 16px;
      text-align: center;
    }
  }

  .search-results{
    background: white;
    padding: $small-spacing;
    border-radius: $medium-spacing;
    list-style: none;
    box-shadow: 0 4px 8px #0000001a;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    li{
      margin: $small-spacing 0px;
      cursor: pointer;
      padding: calc($small-spacing / 2);
      border-radius: $small-spacing;
    }
    li:hover{
      background-color: #0000001a;
    }
  }
}
