// Colors
$primary-color: #0a2446;
$secondary-color: #ef6c67;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white: #fff;
$light-text: #919191;
$light-border: #d9d9d9;
$gray-text: #646464;
$gray-background: #FAFAFA;

// Font Sizes
$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 20px;

// Spacing
$no-spacing: 0px;
$half-spacing: 4px;
$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 24px;

// Border Radius
$small-border-radius: 4px;
$medium-border-radius: 8px;
$large-border-radius: 12px;

// Box Shadows
$small-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$medium-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$large-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $medium-spacing;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: $medium-spacing;
  margin-left: $medium-spacing;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.col {
  flex: 1 0 0;
  padding: 0 $medium-spacing;

  @media (max-width: 768px) {
    flex: none;
    width: 100%;
    margin-bottom: $medium-spacing;
  }
}

h1 {
  font-family: Geologica;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}

h2 {
  font-family: Geologica;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
}

h3 {
  font-family: Geologica;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

h4 {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

p {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.small-text {
  font-size: $small-font-size;
  font-weight: 300;
  line-height: $medium-spacing;
  text-align: left;
}
